body{
	height: 100%;
	width: 100%;
	text-align: center;
}

p {
	font-size: 100px;
	float: left;
	padding: 25px;
	border: 2px solid black;
	border-radius: 25px;
}

.inner {
	display: inline-block;
	/*margin: auto;
	position: absolute;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);	
}

